*,
*:before,
*:after {
  box-sizing: border-box;
}

#header {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 4em;
  user-select: none;
  white-space: nowrap;
}

#header:hover {
  cursor: default;
}

a:hover {
  color: crimson;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 1rem;
  }
  .content {
    margin: 3rem auto;
    max-width: 80%;
  }
}

@media screen and (max-width: 720px) {
  .content {
    margin: 3rem auto;
    max-width: 80%;
  }
}

@media screen and (min-width: 721px) {
  .content {
    margin: 3rem auto;
    max-width: 600px;
  }
}

.content h1:first-of-type {
  padding-top: 1.5rem;
}

#footer {
  padding-top: 3rem;
  text-align: center;
}

#footer img {
  width: 1.5em;
  height: auto;
}

code {
  font-size: 0.65rem !important;
  font-family: "Fira Code", Consolas, Monaco, monospace !important;
}

@font-face {
  font-family: "Fira Code";
  src: url("../static/fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
