@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");

*,
*:before,
*:after {
  box-sizing: border-box;
}

#header {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 4em;
  user-select: none;
}

#header:hover {
  cursor: default;
}

a:hover {
  color: crimson;
}
